<div id="maindiv">
  <div class="portfolio-item mx-auto" id="centraldiv">
    <div id="title">Consulta de Facturas</div>
    <div class="form-floating mb-3">
      <p class="text-decoration-underline" font-size="16">Cliente</p>
      <input class="form-control-lg mx-auto element-input" id="Cliente" placeholder="Espacio requerido"
             value="{{cliente}}">
      <p class="text-decoration-underline" font-size="16">Numero de factura</p>
      <input class="form-control-lg mx-auto element-input" id="NoFactura" placeholder="Espacio requerido"
             value="">
    </div>
    <div id="Buttons">
      <button (click)="Consult_Button()" class="form-floating" id="add">Consult</button>
      <button (click)="Delete_Button()" id="delete">Delete</button>

    </div>


  </div>
  <div class="portfolio-item mx-sm-auto" id="PDF">
    <p font-size="16">Prueba</p>
    <iframe [src]="this.pdf|safe">Prueba</iframe>
  </div>
</div>
