<div id="maindiv">
  <div id="centraldiv" class="portfolio-item mx-auto">
    <div id="title">Consulta de Facturas</div>
    <div *ngFor="let element of respuesta|keyvalue" class="form-floating mb-3">
      <p class="text-decoration-underline" font-size="16">{{element.key}}</p>
      <input id="{{element.key}}" class="form-control-lg mx-auto element-input" placeholder="Espacio requerido"
             value="">
    </div>
    <div id="Buttons">
      <button id="add" (click)="Consult_Button()" class="form-floating">Consult</button>
      <button id="delete" (click)="Delete_Button()">Delete</button>

    </div>


  </div>
  <div id="PDF" class="portfolio-item mx-sm-auto">
    <p font-size="16">Prueba</p>
    <iframe src="favicon.png">Prueba</iframe>
  </div>
</div>
