<div *ngIf="token!=='True';then thenBlock else elseBlock "></div>
<ng-template #thenBlock>
  <div *ngFor="let element of respuesta|keyvalue" class="form-floating mb-3 align-content-center">
    <p class="text-decoration-underline" font-size="15">{{element.key}}</p>
    <input id="{{element.key}}" class="form-control-lg mx-auto element-input" placeholder="Espacio requerido"
           value="">
  </div>
  <div id="Buttons-log-in">
    <button id="Sig_in" (click)="Sig_In()" class="form-floating">SIGN IN</button>
  </div>
</ng-template>
<ng-template #elseBlock>
    <p class="text-decoration-underline" font-size="16">Usuario</p>
    <p id="NAME" class="text-dark" font-size="16" [innerText]="user">{{user}}</p>
  <div id="Buttons-LLog-out">
    <button id="Log-Out" (click)="logout()" class="form-floating">SIGN OUT</button>
  </div>
</ng-template>
