//Estructura de la pagina principal
<div *ngIf="token!=='True';then thenBlock else elseBlock "></div>
<ng-template #thenBlock>
  <div class="form-floating mb-3 align-content-center">
    <p class="text-decoration-underline" font-size="15">Usuario</p>
    <input class="form-control-lg mx-auto element-input" id="Usuario" placeholder="Espacio requerido"
           value="">
    <p class="text-decoration-underline" font-size="15">Contraseña</p>
    <input class="form-control-lg mx-auto element-input" id="Contraseña" placeholder="Espacio requerido"
           value="">
  </div>
  <div id="Buttons-log-in">
    <button (click)="Sig_In()" class="form-floating" id="Sig_in">SIGN IN</button>
  </div>
</ng-template>
<ng-template #elseBlock>
  <p class="text-decoration-underline" font-size="16">Usuario</p>
  <p [innerText]="user" class="text-dark" font-size="16" id="NAME">{{user}}</p>
  <div id="Buttons-LLog-out">
    <button (click)="logout()" class="form-floating" id="Log-Out">SIGN OUT</button>
  </div>
</ng-template>
